*{
    background: #733026;
}
.icon1{
    width: 30%;
}
.icon2{
    width: 30%;
}
.icon3{
    width: 30%;
}
.submit1{
    margin: 1% 35% 0.75% 20%;
    color: #F5E9E9;
    font-family: 'Labrada', serif;
}
.flex-container1{
    display: flex;
    background-size: 500px;
}
.flex-container1 img{
    margin: 1.6% 1.5% 3.5% 1.5%;
}
.flex-container2{

}
.flex-container3{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}
.flex-container4{
    display: flex;
    flex-direction: column;
}
.flex-container5{
    display: flex;
    margin-bottom: 3%;

}
.flex-container6{
    display: flex;
    flex-direction: column;
    margin-right: 45%;
}
.flex-container7{
    display: flex;

}
.flex-container8{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}
.p1{
    width: 200%;
    margin: 3% 1.5% 0.75% 1.5%;
    color: #F5E9E9;
    font-family: 'Labrada', serif;
}
.p2{
    width: 400%;
    margin: 2% 45% 3.5% 1.5%;
    color: #F5E9E9;
    font-family: 'Labrada', serif;
    font-size: 75%;
}
.p3{
    width: 300%;
    margin: 0.5% 5% 0.75% 40%;
    color: #F5E9E9;
    font-family: 'Labrada', serif;
}
.p4{
    width: 200%;
    margin: 2% 10% 0.75% 1.8%;
    color: #F5E9E9;
    font-family: 'Labrada', serif;
}
.p5{
    width: 200%;
    margin: 0.75% 10% 3.5% 25%;
    color: #F5E9E9;
    font-family: 'Labrada', serif;
    font-size: 66%;
}
.p6{
    color: #F5E9E9;
    font-family: 'Labrada', serif;
    margin-left: 11%;
    margin-right: 11%;
}
.p7{
    width: 500%;
    margin: 2% 1.5% 0.75% 38.5%;
    color: #F5E9E9;
    font-family: 'Labrada', serif;
}
.p8{
    width: 200%;
    margin: 2% 10% 0.75% 1.5%;
    color: #F5E9E9;
    font-family: 'Labrada', serif;
}
.p9{
    width: 200%;
    margin: 0.75% 5% 3.5% 25%;
    color: #F5E9E9;
    font-family: 'Labrada', serif;
    font-size: 66%;
}
.header1{
    color: #F5E9E9;
    font-family: 'Labrada', serif;
    font-size: 200%;
    margin: 5% 11% 2.5% 11%
}
.submit2{
    background-color: #DCC7BE;
    border-radius: 30px;
    color: #010100;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 150%;
    width: 36%;
    margin: 6% 32% 3%;
    cursor: pointer;
}
.submit3{
    background-color: #DCC7BE;
    border-radius: 30px;
    color: #010100;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 120%;
    width: 25%;
    margin: 3% 37.5% 6%;
    cursor: pointer;
}

@media (min-width: 1300px){
    *{
        font-size: 110%;
    }
    .submit2{
        background-color: #DCC7BE;
        border-radius: 30px;
        color: #010100;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 150%;
        width: 46%;
        margin: 6% 27% 3%;
        cursor: pointer;
    }
    .submit3{
        background-color: #DCC7BE;
        border-radius: 30px;
        color: #010100;
        padding: 8px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 120%;
        width: 35%;
        margin: 3% 32.5% 6%;
        cursor: pointer;
    }
    .flex-container6{
        margin-right: 70%;
    }
}
@media (min-width: 480px) and (max-width: 1024px) {
    p {
        font-size: calc(14px + (18 - 14) * ( (100vw - 480px) / ( 1024 - 480) ));
    }
    .submit2{
        font-size: 96%;
    }
    .submit3{
        font-size: 96%;
    }
}
@media (min-width: 1000px) and (max-width: 1300px) {
    .flex-container6{
        margin-right: 65%;
    }
    div {
        font-size: calc((14px + (18 - 14) * ( (100vw - 480px) / ( 1024 - 480) ))*1.3);
    }
}
@media (min-width: 700px) and (max-width: 1000px) {
    .flex-container6{
        margin-right: 60%;
    }
}
@media (min-width: 300px) and (max-width: 700px) {
    .p3{
        width: 500%;
        font-size: 86%;
    }
}
